<section class="equipment flex fw-wrap p-y-l">
  <div class="flex fw-wrap jc-start ai-start relative w-full h-full" [class.jc-center]="!data.categories">
    <aside class="categories ta-center h-full" *ngIf="data.categories">
      <div class="col-12 p-x-m ta-left">
        <h2 class="category-title c-accent">Browse by category</h2>
      </div>
      <div class="category-wrapper flex fd-col ai-start col-12 p-x-m">
        <button
          class="category-link"
          [class.active]="selectedCat.value === ''"
          (click)="selectedCat.setValue('')">
          All
        </button>
        <ng-container *ngFor="let category of categories$ | async">
          <button
            class="category-link"
            [class.active]="selectedCat.value === category.id"
            (click)="selectedCat.setValue(category.id)">
            {{category.title}}
          </button>
        </ng-container>
      </div>
    </aside>

    <div class="flex fw-wrap" [class.equipment-full]="!data.categories" [class.equipment-wrapper]="data.categories">

      <ng-container *ngIf="selectedSubcat.value; else allSubCategories">
        <ng-container *ngIf="selectedProduct$ | async as sp; else allP">
          <div class="col-12 ta-left m-b-s">
            <h2 class="title flex ai-center">
              <button class="back-btn m-r-xs" (click)="selectProduct(null)">
                <img src="assets/icons/back.svg" alt="Back Arrow">
              </button>
              {{selectedSubcat.value}} / {{sp.title}}
            </h2>
          </div>
          <a class="col-4 col-s-6 col-xs-12" *ngFor="let model of models$ | async; trackBy:track" [routerLink]="['/product', model.id]" [class.model-col]="!data.categories">
            <div class="model-card flex fd-col ai-start jc-center">
              <div class="model-bg" [ngStyle]="{'background-image': 'url('+ model.featured +')'}"></div>
              <div class="text-wrapper">
                <h1 class="model-title  m-t-s">{{model.title}}</h1>
                <p class="m-y-s">{{model.excerpt}}</p>
              </div>
              <div class="col-12 ta-center">
                <button class="model-btn">View Model</button>
              </div>
            </div>
          </a>
        </ng-container>

        <ng-template #allP>
          <div class="col-12 ta-left m-b-s" [class.arrow-container]="!data.categories">
            <h2 class="title flex ai-center">
              <button class="back-btn m-r-xs" (click)="selectedSubcat.setValue('')">
                <img src="assets/icons/back.svg" alt="Back Arrow">
              </button>
              {{selectedSubcat.value}} /
            </h2>
          </div>
          <div class="col-3 col-s-10 col-xs-12 flex jc-start fw-wrap " *ngFor="let product of products$ | async; trackBy:track"  [class.product-card]="data.categories">
            <ltc-product-card (click)="selectProduct(product)" [product]="product"></ltc-product-card>
          </div>
          <div *ngIf="data.loadMore" class="col-12 jc-start m-t-m">
            <button
              *ngIf="enabled$ | async"
              (click)="loadMore$.next(true)" class="load-btn">
              Load More
            </button>
          </div>
        </ng-template>
      </ng-container>

      <ng-template #allSubCategories>
        <div class="col-12 ta-left m-b-s" [class.ta-center]="!data.categories">
          <h2 class="c-accent title">
            {{data.title}}
          </h2>
        </div>
        <div class="col-3 col-s-6 col-xs-12 flex jc-center" *ngFor="let sub of subCategories$ | async; trackBy:track"  [class.selected-product]="data.categories">
          <ltc-sub-categories-card (click)="selectedSubcat.setValue(sub.id)" [subCategories]="sub"></ltc-sub-categories-card>
        </div>
        <div *ngIf="data.loadMore" class="col-12 jc-start m-t-m">
          <button
            *ngIf="enabled$ | async"
            (click)="loadMore$.next(true)" class="load-btn">
            Load More
          </button>
        </div>
      </ng-template>
    </div>

  </div>
</section>
