<section class="m-y-l">
  <div class="grid">
    <div class="col-12 ta-center m-y-m">
      <h5 class="c-accent">FAQ</h5>
    </div>
    <div class="w-full faq" *ngFor="let item of faq$ | async; index as index;">
      <p class="m-y-xs w-full question" (click)="activeIndex = index" [class.active]="activeIndex === index">{{item.question}}</p>
      <p class="w-full answer" [class.active]="activeIndex === index">{{item.answer}}</p>
    </div>
  </div>
</section>


<jms-block-renderer *ngIf="page.blocks" [blocks]="page.blocks"></jms-block-renderer>

