h5 {
  font-size: 24px;
  font-weight: bold;
}
.description {
  font-size: 14.0pt;
  font-family: 'Calibri',sans-serif;
  color: black;
}

@media (max-width: 600px) {
  .description {
    text-align: justify;
  }
}
