.profile-card {
  position: relative;
  min-height: 400px;
  border: 1px solid #868686;
  border-radius: 4px;
  cursor: pointer;
  transition: .4s ease-in-out;
  &:hover {
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 7px 3px rgba(0,0,0,0.75);
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.75);
  }
}

.profile {
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.name {
  font-size: 18px;
}

.dialog-avatar {
  border: 1px solid #868686;
  height: 105px;
  width: 105px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Mobile styles
 *============================================================================*/
@media (max-width: 900px) {
  .grid {
    justify-content: flex-start;
  }
}
