<mat-toolbar role="heading" color="primary" class="sticky-header">
  <span>Dashboard</span>
  <div class="flex-1"></div>
  <a mat-flat-button color="primary" href="https://github.com/Jaspero/jms" target="_blank" rel="nofollow">JMS on GitHub</a>
</mat-toolbar>

<section class="grid">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Welcome to LTCPower CMS. Here are a few things you can do:</p>
        <ul class="m-t-s">
          <li><a class="link" routerLink="/m/pages">Creat, edit and delete pages.</a></li>
          <li>
            Manage <a class="link" routerLink="/m/subCategories">categories</a>,
            <a class="link" routerLink="/m/products">products</a> and
            <a class="link" routerLink="/m/models">models</a>.
          </li>
          <li><a class="link" routerLink="/m/fag">Create, edit and delete faq.</a></li>
          <li>Manage <a class="link" routerLink="/m/users">users</a>.</li>
          <li>Manage <a class="link" routerLink="/m/automatic-emails">emails</a>.</li>
          <li><a class="link" routerLink="/m/sent-emails">View sent emails.</a></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</section>
