section {
  margin-top: 65px;
}

.value {
  font-weight: 700;
}

.spec-btn {
  color: #FF6B18;
  font-weight: bold;
  position: relative;
  padding: 1em 1.5em;
  border: 1px solid #FF6B18;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  border-radius: 4px;
}

.back-btn {
  outline: none;
  background: none;
  border: none;
}

.accordion {
  cursor: pointer;
  transition: all .4s ease-in;
}

.accordion:hover {
  background: #d2d2d2;
}
.accordion:hover.active-accordion {
  background: white;
}

.accordion-title.active-accordion {
  color: #FF6B18;
  padding: 10px 0;
}

.accordion-content.active-accordion {
  visibility: visible;
  max-height: 500px;
  height: auto;
  margin: 10px 0;
  font-size: 18px;
  width: 100%;
  z-index: 23;
}

.arrow {
  height: 16px;
}

.close-accordion {
  transition: all .4s ease-in-out;
}

.arrow.close-accordion {
  transform: rotate(0deg);
}

.arrow.active-accordion {
  transform: rotate(180deg);
}

.active-accordion {
  transition: all .4s ease-in-out;
}

.title {
  font-weight: bold;
  font-size: 34px;
  line-height: 33px;
  display: flex;
}
.accordion-title {
  font-size: 20px;
}

.accordion-content {
  max-height: 0;
  transition: max-height .2s;
  visibility: hidden;
}

.product-image {
  border: 1px solid #868686;
  height: 384px;
  vertical-align: middle;
  width: 100%;
  object-fit: contain;
}


.input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

textarea {
  height: auto !important;
}

.send-msg {
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #FF6B18;
  font-size: 16px;
  color: #FF6B18;
  width: 176px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


.loading {

  .spinner {
    width: 18px;
    height: 18px;
    clear: both;
    margin: 0 10px;
  }

  .spinner-circle {
    border: 2px  solid rgba(255, 107, 24, .25);
    border-top: 1px  solid rgba(255, 107, 24, 1);
    border-radius: 50%;
    -webkit-animation: loader .6s infinite linear;
    animation: loader .6s infinite linear;
  }
  @-webkit-keyframes loader {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
  }
  @keyframes loader {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
  }
  p {
    display: none;
  }
}


.enquiry {
  outline: none;
  border: 1px solid #FF6B18;
  background: white;
  color: #FF6B18;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  transition: all .4s ease-in-out;
  &:hover {
    background: #FF6B18;
    color: white;
  }
}






/* Table styles
 *============================================================================*/

table {
  display: none;
  background: white;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #ccc;
  border-bottom: none;


  tbody {
    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
    }
    tr:hover {
      background: rgba(0,0,0,.05);
    }
    td {
      display: flex;
      align-items: center;
      padding   : 10px 6px;
      font-size : 1rem;
    }
  }
}

.table-active {
  display: table;
}

.value {
  width: 40%;
}

.accordion:nth-child(1) {
  border-top: 1px solid #868686;;
}
.faq-container {
  width: 51%;
}




/* Mobile styles
 *============================================================================*/

@media (max-width: 600px) {
  .value {
    width: 60%;
    justify-content: flex-end;
  }
  .title {
    font-size: 25px;
  }
  .accordion-title {
    font-size: 20px;
  }
}
